// Lazybrodawg

$transition-duration: .2s;
$transition-easing: ease-out;
$bg-color: #999;

[lazy-loader] {
  @extend %lazy-loader-ph;
  position: relative;
  overflow: hidden;

  img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
    filter: blur(20px);
    background-color: $bg-color;
    transition: opacity $transition-duration $transition-easing, filter $transition-duration $transition-easing;
  }

  &.original-loaded {
    background-color: transparent;

    img {
      opacity: 1;
      filter: blur(0px);
    }
  }
}

// Demo
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

//toss away css
body {
  padding: 20px;
  background-color: #e3e3e3;
}

[lazy-loader] {
  display: block;
  float: left;
  width: 328px;
  margin: 12px;
}

#lazy-loader-imgs {
  width: 720px;
  max-width: 100%;

  &:after {
    content: '';
    display: table;
    clear: both;
  }
}
